<div ng-controller="LinksController">

<div id="header">
  <a href="#"><h1 id="forecite-logo">ForeCite</h1></a>

  <input id="search-query" type="text" placeholder="Enter Search Query" ng-model="searchQuery">
  <button id="cats-button" ng-click="getCategories()">Get Categories</button>
  <button id="extlinks-button" ng-click="getExternalLinks()">Get External Links</button>
</div>

<br>

<div id="current-search">
  <h2>Currently searching for: {{searchQuery}} </h2>
</div>


<div id="left">
  <p>Categories:</p>
  <ul>
    <li class="left-list-element list-element" ng-repeat="cat in cats"> {{cat["title"]}}
    <button class="show-button" ng-click="getSubcategories('Category:' + cat['title'])">Show</button>
    </li>
  </ul>

  <ul>
    <li ng-repeat="link in links">{{link["*"]}} </li>
  </ul>
</div>




<div id="right">
  <p>Subcategories:</p>
  <ul>
    <li class="right-list-element list-element" ng-repeat="sublink in sublinks"> {{sublink["title"]}} </li>
  </ul>
</div>


</div>

