<div ng-controller="LinksController">

<div id="header">
  <a href="#"><h1 id="forecite-logo" ng-click="clearAll">ForeCite</h1></a>

  <input  id="search-query" type="text" placeholder="Enter Search Query"    ng-model="searchQuery">
  <button id="cats-button"  class="header-button clicked-{{catsSelected}}"  ng-click="getValidQuery(searchQuery)">Get Categories</button>
  <button id="links-button" class="header-button clicked-{{linksSelected}}" ng-click="getLinks()">Get Links</button>
  <button id="books-button" class="header-button clicked-{{booksSelected}}" ng-click="getBooks()">Get Books</button>
</div>


<div id="clear-header" style="height: 50px"></div>

<div id="current-search">
  <h2>Currently searching for: {{searchQuery}} </h2>
  <h3>{{currentBookTitle}}</h3>
</div>

<div id="searchResults" style="text-align: center">
  <ul>
    <li class="list-search-query" ng-repeat="query in validQueries">{{query}}</li>
  </ul>
</div>

<div id="loading-books" class="{{hideLoadingBooks}}">
  <button id="loading-books-button" class="header-button">Loading Books, Please Wait</button>
</div>

<div id="books-display" class="{{hideBooks}}">
  <div class="book-listing temp-book-class" ng-mouseover="showBookTitle(amazon['title'])" ng-repeat="amazon in amazons">
    <img class="book-image" src="{{amazon['image']}}">
  </div>
</div>


<div id="left">

  <!-- This grabs References links -->
  <ul>
    <%# @nokoTest.each do |item| %>
    <!-- <li class="nokoTest list-element"><%#= item %></li> -->
    <%# end %>
  </ul>

  <!-- <h3>Further Reading:</h3> -->
  <ul>
    <li class="furtherReading list-element" ng-repeat="book in books"><h5>{{book}}</h5></li>
  </ul>

  <p class="category-header">Categories:</p>
  <ul>
    <li class="left-list-element list-element" ng-mouseover="getTopics('Category:' + cat['title'])" ng-repeat="cat in cats">
      {{cat["title"]}}
    </li>
  </ul>

  <ul>
    <li ng-repeat="link in links">{{link["*"]}} </li>
  </ul>
</div>


<div id="right">

  <p class="category-header">Topics for {{currentCategory}}:</p>
  <ul>
    <li class="right-list-element list-element" ng-repeat="topic in topics" ng-click="getCategories(topic['title'])"> {{topic["title"]}} </li>
  </ul>
</div>


</div>

