<div ng-controller="LinksController">

<div id="header">
  <a href="#"><h1 id="forecite-logo">ForeCite</h1></a>

  <input id="search-query" type="text" placeholder="Enter Search Query" ng-model="searchQuery">
  <button id="cats-button"      class="header-button clicked-{{catsSelected}}"      ng-click="getCategories(searchQuery)">Get Categories</button>
  <button id="extlinks-button"  class="header-button clicked-{{linksSelected}}"     ng-click="getExternalLinks()">Get Links</button>
  <button id="books-button"     class="header-button clicked-{{booksSelected}}"     ng-click="getReading()">Get Books</button>
</div>

<br>

<div id="current-search">
  <h2>Currently searching for: {{searchQuery}} </h2>
</div>


<div id="left">

  <!-- This grabs References links -->
  <ul>
    <%# @nokoTest.each do |item| %>
    <!-- <li class="nokoTest list-element"><%#= item %></li> -->
    <%# end %>
  </ul>



  <!-- <h3>Further Reading:</h3> -->
  <ul>
    <li class="furtherReading list-element" ng-repeat="book in books"><h5>{{book}}</h5></li>
  </ul>





  <p>Categories:</p>
  <ul>
    <li class="left-list-element list-element" ng-mouseover="getSubcategories('Category:' + cat['title'])" ng-repeat="cat in cats">
      {{cat["title"]}}
    </li>
  </ul>

  <ul>
    <li ng-repeat="link in links">{{link["*"]}} </li>
  </ul>
</div>




<div id="right">

  <div class="book-listing" ng-repeat="amazon in amazons">
    <h3>{{amazon["title"]}}</h3>
    <img class="book-image" src="{{amazon['image']}}">
  </div>

  <p>Topics for {{currentCategory}}:</p>
  <ul>
    <li class="right-list-element list-element" ng-repeat="sublink in sublinks" ng-click="getCategories(sublink['title'])"> {{sublink["title"]}} </li>
  </ul>
</div>


</div>

