<div ng-controller="LinksController">


<div id="header">
  <a href="#" ng-click="$parent.searchQuery = null"><h1 id="forecite-logo" ng-click="clearAll">ForeCite</h1></a>

  <input  id="search-query" type="text"                   ng-model="searchQuery"                placeholder="Enter Search Query" >
  <button class="header-button clicked-{{catsSelected}}"  ng-click="getValidQuery(searchQuery, 'categories')">Get Categories</button>
  <button class="header-button clicked-{{linksSelected}}" ng-click="getValidQuery(searchQuery, 'links')">Get Links</button>
  <button class="header-button clicked-{{booksSelected}}" ng-click="getValidQuery(searchQuery, 'books')">Get Books</button>
</div>


<div id="clear-header" style="height: 50px"></div>

<div id="current-search" class="center-text hide-unless-{{searchQuery}}">
  <h2>Currently searching for: {{searchQuery}} </h2>
  <a id="wiki-link" class="hide-unless-{{wikifiedQuery}}" href="{{wikifiedQuery}}" target="_blank">Wiki Page</a>
</div>

<div id="searchResults"             class="center-text" ng-if="searchResults">
  <h3 id="what-are-you-looking-for" class="center-text">What are you looking for? (Click one)</h3>
  <ul id="search-results-list"      class='center-text'>
    <li class="list-search-query"   ng-repeat="query in validQueries" ng-click="executeButton(query)">{{query}}</li>
  </ul>
</div>


<div ng-view></div>
</div>

