<div ng-controller="LinksController">

<div id="header">
  <a href="#"><h1 id="forecite-logo">ForeCite</h1></a>

  <input id="search-query" type="text" placeholder="Enter Search Query" ng-model="searchQuery">
  <button id="cats-button" class="header-button" ng-click="getCategories()">Get Categories</button>
  <button id="extlinks-button" class="header-button" ng-click="getExternalLinks()">Get Links</button>
  <button id="books-button" class="header-button">Get Books</button>
</div>

<br>

<div id="current-search">
  <h2>Currently searching for: {{searchQuery}} </h2>

  <!-- <img src="<%= @image %>"> -->
</div>


<div id="left">

  <!-- This grabs References links -->
  <ul>
    <%# @nokoTest.each do |item| %>
    <li class="nokoTest list-element"><%#= item %></li>
    <%# end %>
  </ul>



  <!-- This grabs Further Reading links  -->
  <p>Further Reading:</p>
  <ul>
    <% @books.each do |item| %>
    <li class="furtherReading list-element"><%= item %></li>
    <% end %>
  </ul>





  <p>Categories:</p>
  <ul>
    <li class="left-list-element list-element" ng-repeat="cat in cats"> {{cat["title"]}}
    <button class="show-button" ng-click="getSubcategories('Category:' + cat['title'])">Show</button>
    </li>
  </ul>

  <ul>
    <li ng-repeat="link in links">{{link["*"]}} </li>
  </ul>
</div>




<div id="right">

  <% @amazon_data.each do |book| %>
    <p>Title: <%= book[:title] %></p>
    <img class="book-image" src="<%= book[:image] %>">
  <% end %>

  <p>Subcategories:</p>
  <ul>
    <li class="right-list-element list-element" ng-repeat="sublink in sublinks"> {{sublink["title"]}} </li>
  </ul>
</div>


</div>

