<div>
  <h3 class="center-text">{{bookTitle}}</h3>

  <div id="books-display">
    <div class="book-listing temp-book-class" ng-mouseover="$parent.bookTitle = amazon.title" ng-repeat="amazon in amazons">
      <a href="{{amazon.link}}" target="_blank"><img class="book-image" ng-src="{{amazon.image}}"></a>
    </div>
  </div>

  <div id="left" ng-if="books">
    <h3 id="books-header">Wikipedia Recommends These Books</h3>
    <ul>
      <li class="furtherReading list-element" ng-repeat="book in books" ng-click="getWikiBook(book)"><h5>{{book}}</h5></li>
    </ul>
  </div>

  <div id="right">
    <a href="{{currentWikiBook.link}}" target="_blank">
      <div class="current-wiki-book book-listing">
        <h3>{{currentWikiBook.title}}</h3>
        <img src="{{currentWikiBook.image}}">
      </div>
    </a>
  </div>
</div>