<div ng-if="divSelected">
  <h3 class="center-text">{{currentBookTitle}}</h3>

  <div id="books-display">
    <div class="book-listing temp-book-class" ng-mouseover="showBookTitle(amazon['title'])" ng-repeat="amazon in amazons">
      <a href={{amazon["link"]}} target="_blank"><img class="book-image" src="{{amazon['image']}}"></a>
    </div>
  </div>

  <div id="left">
    <ul>
      <li class="furtherReading list-element" ng-repeat="book in books" ng-click="getWikiBook([book])"><h5>{{book}}</h5></li>
    </ul>
  </div>

  <div id="right">
    <a href={{currentWikiBook[0]["link"]}} target="_blank">
      <div class="current-wiki-book book-listing">
        <h3>{{currentWikiBook[0]['title']}}</h3>
        <img src="{{currentWikiBook[0]['image']}}">
      </div>
    </a>
  </div>
</div>