<div>
  <div id="left">
    <h3 class="category-header">Categories</h3>
    <ul>
      <li class="left-list-element list-element" ng-mouseover="getTopics('Category:' + cat['title'])" ng-repeat="cat in cats">
        {{cat["title"]}}
      </li>
    </ul>
  </div>

  <div id="right">
    <h3 class="category-header">Topics for {{currentCategory}}:</h3>
    <ul>
      <li class="right-list-element list-element" ng-repeat="topic in topics" ng-click="getCategories(topic['title'])"> {{topic["title"]}} </li>
    </ul>
  </div>
</div>