<div id="left">
  <p class="category-header" ng-if="catsSelected">Categories:</p>
  <ul ng-if="catsSelected">
    <li class="left-list-element list-element" ng-mouseover="getTopics('Category:' + cat['title'])" ng-repeat="cat in cats">
      {{cat["title"]}}
    </li>
  </ul>
</div>


<div id="right">
  <p class="category-header" ng-if="catsSelected">Topics for {{currentCategory}}:</p>
  <ul ng-if="catsSelected">
    <li class="right-list-element list-element" ng-repeat="topic in topics" ng-click="getCategories(topic['title'])"> {{topic["title"]}} </li>
  </ul>
</div>
