<div id="welcome" ng-class="{hide: searchQuery}">
<h1 id="welcome-headline">Welcome to ForeCite!</h1>
<h3 id="welcome-text">Finding good resources doesn't have to be a headache. ForeCite makes it easier and more fun!</h3>
</div>

<div class="icon-bar" ng-class="{hide: searchQuery}">
  <div id="left-blurb" class="blurb-icon">
  <img class="glass-icon" src="assets/mag-glass-icon.png">
  <h2>Categories</h2>
  <p>Find related topics, or find new topics to search through!</p>
  </div>

  <div id="right-blurb" class="blurb-icon">
  <img class="glass-icon" src="assets/mag-glass-icon.png">
  <h2>Links</h2>
  <p>More citations that you will ever actually read!</p>
  </div>

  <div id="middle-blurb" class="blurb-icon">
  <img class="glass-icon" src="assets/mag-glass-icon.png">
  <h2>Books</h2>
  <p>Because you can't scribble on the margins of Wikipedia pages.</p>
  </div>
</div>