<div style="text-align: center; background-color: #2980b9; color: white; padding: 40px; height: 300px">
<h1 style="font-size: 50px; font-weight: 400">ForeCite</h1>
<p>Logo goes here!</p>
<h3 style="font-weight: 300; width: 800px; margin-left: auto; margin-right: auto">Imagine a better search engine. Other inspirational slogans will pad this section out. The early bird catches the worm. I should come up with better marketing slogans. Time to look up design layouts.</h3>

</div>