<div id="left" ng-if="divSelected">
  <p>Domains</p>
  <ul>
    <a class="domain" href="http://{{currentDomain}}" target="_blank">
    <li class="list-element" ng-repeat="domain in domains" ng-mouseover="$parent.$parent.currentDomain = domain">
      {{domain}}
    </li></a>
  </ul>
</div>

<div id="right" ng-if="divSelected">
  <p>Current Domain is {{currentDomain}}</p>
  <ul>
    <a href="{{currentTopic}}" target="_blank">
    <li class="list-element" ng-repeat="link in links | filter:currentDomain" ng-mouseover="$parent.$parent.currentTopic = link['*']">{{link["*"] }}</li>
    </a>
  </ul>
</div>
