// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Karla;
}

button {
  cursor: pointer;
  border-radius: 1px;
}

a {
  text-decoration: none;
}

li:hover {
  background-color: #bdc3c7;
  color: white;
}

// Div styles

#left {
  width: 45%;
  float: left;
}

#right {
  width: 45%;
  float: right;
}

#current-search {
  text-align: center;
}

#search-results {
  text-align: center;
}

#what-are-you-looking-for {
  text-align: center;
}

.center-text {
  text-align: center;
}

#search-results-list {
  padding-left: 0px;
}

#header {
  text-align: center;
  background-image: url(brushed.png);
  background-repeat: repeat-2;
  margin: -8px;
  position: fixed;
  width: 100%;
  clear: both;
}


// Header element styles

#forecite-logo {
  color: #34495e;
  text-shadow: 2px 2px #bdc3c7;
  width: 200px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Raleway;
}

#search-query {
  width: 50%;
  font-size: 18px;
  border: 1px solid grey;
  padding: 5px;
  margin: 10px;
}

.header-button {
  font-size: 18px;
  border: 0px;
  background-color: #44a0de;
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;
}

button.header-button:hover {
  background-color: #2980b9
}

.clicked-true {
  background-color: #e67e22;
}

.hide {
  display: none;
}

.hide-unless- {
  display: none;
}


// List styles

ul {
  list-style-type: none;
}

.list-element {
  background-color: #e0e0e0;
  // border-radius: 2px;
  padding: 5px 15px 5px 15px;
  margin: 0px 10px 0px 10px;
  font-family: Helvetica;
  color: #7598c9;
  cursor: pointer;
}

.list-element {
  margin-left: -50px;
}

.left-list-element {
  width: 300px;
}

.category-link {
  text-decoration: none;
}

button.show-button {
  font-size: 12px;
  border: 0px;
  background-color: #44a0de;
  color: white;
}

.list-search-query {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.domain {
  text-decoration: none;
  color: #7598c9;
}

.domain:hover {
  background-color: #bdc3c7;
  color: white;
}

// Book styles

#books-display {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.book-listing {
  color: #7598c9;
  padding: 0px 10px 10px 10px;
  text-align: center;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

.hide {
  display: none;
}

.book-listing:hover {
  background-color: #7598c9;
  color: white;
}

img.book-image {
  max-width: 200px;
  max-height: 200px;
}

.temp-book-class {
  float: left;
  margin: 15px;
  padding: 10px
}

#loading-books {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 50px;
}

#loading-books-button {
  color: #44a0de;
  background-color: white;

}

// Other stuff

.hide-until-search {
  display:none
}

#welcome {
  text-align: center;
  background-color: #2980b9;
  color: white;
  padding: 60px;
  margin: -10px;
  height: 250px;
  margin-bottom: 20px;
}

#welcome-headline {
  font-size: 80px;
  font-weight: 400;
}

#welcome-text {
  font-weight: 300;
  margin-left: auto;
  margin-right: auto
}

.glass-icon {
  width: 100px;
}

#icon-bar {
  display: inline-block;
  text-align: center;
  clear: both;
}

.blurb-icon {
  display: inline-block;
  width: 30%;
  text-align: center;
  // border: 1px solid black;
  margin: 10px;
  clear: none;
}

#left-blurb {
  float: left;
}

#middle-blurb {
  float: center;
  margin: 10px 30px 0px 30px;
}

#right-blurb {
  float: right
}
