// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("http://fonts.googleapis.com/css?family=Lustria");

body {
  font-family: Karla;

  background:
    linear-gradient(
      rgba(132, 192, 215, 0.45),
      rgba(132, 192, 215, 0.45)
    ),
    url(books.png);

  background-size: 100% auto;
  background-attachment: fixed;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border-radius: 1px;
}

a {
  text-decoration: none;
}

li {
  opacity: 0.9;
  overflow-x: hidden

}

li:hover {
  background-color: #c0392b;
  color: white;
}

// Div styles

#left {
  width: 45%;
  float: left;
}

#right {
  width: 45%;
  float: right;
  margin-right: -15px;
  overflow-x: hidden;
}

#current-search {
  text-align: center;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  background-color: rgba(34, 34, 34, 0.85);
  color: white
}

#looking-for {
  text-align: center;
}

.center-text {
  text-align: center;
  color: white;
}

#search-results {
  padding-left: 0px;
}

#header {
  text-align: center;
  background-image: url(brushed.png);
  background-repeat: repeat-2;
  margin: -8px;
  position: fixed;
  width: 100%;
  clear: both;
  z-index: 9999;
}


// Header element styles

#forecite-logo {
  color: #34495e;
  text-shadow: 2px 2px #bdc3c7;
  width: 200px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Raleway;
}

#search-query {
  width: 50%;
  font-size: 18px;
  border: 1px solid grey;
  padding: 5px;
  margin: 10px;
}

.header-button {
  font-size: 18px;
  border: 0px;
  background-color: #44a0de;
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;
}

button.header-button:hover {
  background-color: #2980b9
}

.clicked-true {
  background-color: #e67e22;
}

// List styles

ul {
  list-style-type: none;
  margin-top: 0px;
}

.list-element {
  background-color: #44a0de;
  color: white;
  padding: 5px 15px 5px 15px;
  margin: 0px 10px 0px 10px;
  font-family: Helvetica;
  cursor: pointer;
}

.list-element {
  margin-left: -50px;
}

.left-list-element {
  width: 300px;
}

.right-list-element {
  width: 600px;
  margin-right: -15px;
}

.category-header {
  padding: 15px 15px 15px 15px;
  margin: 0px -10px 0px -10px;
  background-color: #2980b9;
  color: white;
}

#left > .category-header {
  width: 300px;
}

#right > .category-header {
  margin-right: -10px;
}

.category-link {
  text-decoration: none;
}

button.show-button {
  font-size: 12px;
  border: 0px;
  background-color: #44a0de;
  color: white;
}

.search-result {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.domain {
  text-decoration: none;
  color: #7598c9;
}

.domain:hover {
  background-color: #c0392b;
  color: white;
}

#domains-header {
  padding: 15px 0px 15px 15px;
  margin: 0px 10px 0px -10px;
  background-color: #2980b9;
  color: white;
}

#right > #domains-header {
  margin-right: -15px;
}

// Book styles

#books-display {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#books-header {
  padding: 15px 0px 15px 15px;
  margin: 0px 10px 0px -10px;
  background-color: #2980b9;
  color: white;
}

.book-listing {
  color: #7598c9;
  padding: 0px 10px 10px 10px;
  text-align: center;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

.hide {
  display: none;
}

.book-listing:hover {
  background-color: #7598c9;
  color: white;
}

img.book-image {
  max-width: 200px;
  max-height: 200px;
}

.temp-book-class {
  float: left;
  margin: 15px;
  padding: 10px
}

#loading-books {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 50px;
}

#loading-books-button {
  color: #44a0de;
  background-color: white;

}

// Other stuff

.hide-until-search {
  display:none
}

#welcome {
  text-align: center;
  background-color: rgba(34, 34, 34, 0.85);
  color: white;
  padding: 60px;
  margin: -10px;
  height: 250px;
  margin-bottom: 20px;
}

#welcome-headline {
  font-size: 80px;
  font-weight: 400;
}

#welcome-text {
  font-weight: 300;
  margin-left: auto;
  margin-right: auto
}

.glass-icon {
  width: 100px;
}

#icon-bar {
  display: inline-block;
  text-align: center;
  clear: both;
}

.blurb-icon {
  display: inline-block;
  width: 30%;
  text-align: center;
  color: white;
  margin: 10px;
  clear: none;
  background-color: rgba(49, 128, 185, 0.85);
  padding: 10px 0px 10px 0px;
}

#left-blurb {
  float: left;
}

#middle-blurb {
  float: center;
  margin: 10px 30px 0px 30px;
}

#right-blurb {
  float: right
}

.furtherReading {
  font-family: Lustria;
}

#wiki-link {
  color: #2980b9;
}
